/* .error{
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #ce1818;
    color: #fff;
    padding: 15px 10px;
    padding-left: 40px;
  } */

/* .bien{
    display: none;
} */